<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rouedad</title>

        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/satellizer/satellizer.min.js"></script>

        <link href="bower_components/bootstrap-css-only/css/bootstrap.css" type="text/css" rel="stylesheet">
    </head>

    <body class="container">

        <div class="jumbotron" ng-controller="indexctrl">
            <h1>Jumbotron</h1>
            {{ text }}
        </div>


        <div ng-controller="LoginCtrl">
            <button ng-click="authenticate('facebook')" class="btn btn-primary btn-block">Sign in with Facebook</button>
            <button ng-click="authenticate('google')" class="btn btn-primary btn-block">Sign in with Google</button>
        </div>

        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>

    </body>
</html>